.Theme_color {
  color: #785EFF;
}

.theme_bg {
  background-color: #785EFF;
}

.font-Montserrat {
  font-family: 'Montserrat';
}

.cardbody_font {
  font-size: 11px;
}

.flight-line-d1 {
  /* margin-left: 5px; */
  margin-right: 5px;
}

.flight-line-d2,
.flight-line-d4 {
  margin-left: 5px;
  margin-right: 5px;
}

.flight-line-d1 {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 13px;
  background: url(../public/img/DOTT_LINE.svg) left top no-repeat;
  margin: 10px 0px 0px 13px;
}

.flight-line-d2 {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  height: 13px;
  background: url(../public/img/FLIGHT_LINE.svg) left top no-repeat;
  margin: 5px 11px 0px 0px;
}

.Bookingheading {
  background-color: #0E0E3E;
  color: #fcfafa;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  padding: 18px;
  width: 100% !important;
  border: none;
  display: block;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s;
  margin: 0px 0px;
}

.Bookingsuccessful {
  border-color: #104b02 !important;
  background-color: #fcfafa;
  color: #104b02;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  padding: 18px;
  width: 100% !important;
  border: none;
  display: block;
  text-align: left;
  outline: none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s;
  margin: 0px 0px;
}

.bsp-page-r {
  width: 348px;
  float: left;
  overflow: hidden;
  margin: -4px 0 0 -348px;
}

.two-colls-right-return {
  margin: 0px 0px 0px 25px;
}

.catalog-row-return .catalog_filters_return {
  background-color: #fff;
  margin-left: 0px;
  margin-bottom: 1%;
  font-family: 'Montserrat';
  padding: 1.5%;
  font-weight: 600;
  color: black;
  font-size: 12px;
  width: 100%;

  .filterlist {
    width: 20% !important;
    justify-items: center;
    padding: 1%;
  }
}

.two-colls-left-return {
  width: 25%;
  margin: 0px;
  padding: 10px;
  float: left;
}

.resultcontainer {
  float: left;
  width: 75%;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .flightoptions {
    width: 49.5%;
    box-sizing: border-box;
    float: left;
    /* &:nth-child(even){
      background-color: yellow;
    } */
  }
}

.filter {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

.airportname {
  width: 100%;
  white-space: normal;
  margin-top: -1px;
  /* opacity: 1; */
  color: #fff !important;
  font-size: 8px !important;
}

.flt-i-br {
  margin: 0px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .flt-l-br {
    width: 100%;
    float: none;
    float: left;
    overflow: hidden;

    .flt-l-img {
      width: 10%;
      float: left;
    }

    .flt-l-fightname {
      width: auto;
      float: left;
      justify-content: center;
    }
  }

  .flt-l-cr {
    width: 100%;
    float: left;
  }

  .flt-i-cr {
    width: 100%;
    float: left;
  }
}

.Flightflow {
  width: 100%;
  float: left;
  margin: 0px 2px 0px 2px;
  display: flex;
  /* justify-content: space-evenly ; */

  .flight-line-origin {
    width: auto;
    margin: auto;
    float: left;
  }

  .flight-timeline {
    width: auto;
    display: flex;
    justify-content: center;
    float: left;

    .line-from {
      width: auto;
      float: left;
    }

    .flight-time {
      width: 60%;
      float: left;
    }

    .line-to {
      width: auto;
      float: left;
    }
  }

  .flight-line-destination {
    width: auto;
    margin: auto;
    float: left;
  }

  .flight-price {
    width: auto;
    margin: auto;
    float: left;
  }
}

.flightprice {
  font-size: 13px;
  font-weight: 500;
}

.flight-detail {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-evenly;
  margin: 18px 5px 0px 5px;

  .flight-show-details {
    width: 50%;
    float: left;
  }

  .fligth-view-price {
    width: 50%;
    float: right;
    display: flex;
    justify-content: flex-end;
  }
}

button.viewprice {
  display: block;
  width: 100px;
  background: #785eff;
  border-radius: 15px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  border: 0px;
  margin-top: 1px;
  float: left;
  font-family: 'Montserrat';
  font-weight: normal;
  text-transform: uppercase;
  padding: 6px 0px;
}

.priceoption {
  width: 30% !important;
  margin: 1% 1.5% !important;

  .pricecontent {
    width: 100%;
    float: left;
  }

  .buttonselect {
    width: 100%;
    float: left;
  }
}

.pricename {
  font-size: 10px;
  font-weight: 600;
  color: black;

  text-transform: capitalize;
  font-family: 'Montserrat';
}

.priceamount {
  font-size: 9px;
  font-weight: 600;
  font-family: 'Montserrat';
}

.flight_detailnav {
  display: flex;
  border: none;
}

.flight_detailnav .nav-item a {
  border: none;
  font-size: 10px;
  color: #848484;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 600;
  text-decoration: none;
  padding: 6px 6px;
  margin-right: 7px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .03);
}

.flight_detailnav .nav-item .nav-link.active {
  background: #785ef7;
  color: #fff;
}

.flightstopdetail {
  width: 100%;
  float: left;

  .flight-details-lr {
    width: 34%;
    float: left;
  }

  .flight-details-mr {
    width: auto;
    float: left;
  }

  .flight-details-rr {
    width: 34%;
    float: right;
  }
}

.Clearfilter {
  width: 100%;
  border: 1px solid #785eff;
  padding: 5px;
  font-family: 'Montserrat';
  font-size: 13px;
  color: #785eff;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
}

.Clearfilter:hover {
  color: #644ed4;
  border: 1px solid #644ed4;
}

.SelectPrice {
  color: white;
  font-size: 12px;
  background-color: #785eff;
  border: none;
  padding: 2%;
  border-radius: 3px;
  margin-right: 5px;
  margin-top: 15px;
}

.Pricebutton-add {
  position: absolute;
  top: 58%;
  right: -10px;
  /* Place the button slightly outside the container */
  transform: translateY(-69%);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 20px;
  height: 22px;
  background-color: white;
  color: #785eff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* transition: transform 0.2s ease, background-color 0.2s ease; */
}

.selected-flight-book-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70%;
  background-color: #281f55;
  color: #fff;
  border-radius: 7px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 5px;
  opacity: 0.9;
}

.Flight-book-data {
  width: 100%;
  float: left;

  .Flight-heading-line {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 600;
  }

  .Fligth-detail-line {
    width: 100%;
    float: left;
  }

}

.flight-container {
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  margin-top: 2%;

  .Flightlogo {
    width: 15%;
    float: left;
    margin-top: 2px;

  }

  .Booking-details {
    width: 63%;
    float: left;

    .Origin-flight {
      width: 39%;
      float: left;
    }

    .arrowtowards {
      width: 20%;
      float: left;
    }

    .Destination-flight {
      width: 39%;
      float: left;
    }
  }

  .Flightbook-price {
    width: 20%;
    float: left;
  }
}

.Logo-class {
  background-color: #fff;
  width: 60%;
  height: auto;
}

.Selectedflight-booking {
  width: 100%;
  float: left;

  .Onward-flight {
    width: 38%;
    float: left;
    border-right: 1px solid white;
    margin-right: 1%;
  }

  .Return-flight {
    width: 38%;
    float: left;
    border-right: 1px solid white;
    margin-right: 1%;
  }

  .flight-process {
    width: 20%;
    float: left;
    margin-top: 5px;

    .flight-price {
      width: 65%;
      float: left;
      margin-top: 9px
    }

    .Flight-Booking {
      width: 34%;
      float: left;
    }
  }
}

.Returnflight-heading {
  background-color: #fff;
  color: #444;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(227 227 227) !important;
  text-transform: uppercase;
  font-weight: 700;
  padding: 7px;
  width: 100% !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  font-size: 11px;
  transition: 0.4s;
  font-family: 'Montserrat';
  /* margin-top: 10px; */
}

.accordionfarename .CityName {
  font-size: 14px;
  width: auto;
  color: black;
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 1%;
}
.Flight-segment-container{
  display: block;
  margin-bottom: 2% !important;
}