

.dropdown {
  position: relative;
  display: block;
  font-family: 'Open Sans';
}

.dropbtn {
  font-size: 13px;
  margin-bottom: 16px;
  /* color: #3a4142; */
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: normal;
  background: #fff;
  /* float: left; */
  text-align: justify;
  border: none;
  width: 100%;
 
}
.refbtn {
  font-size: 13px;
  margin-bottom: 16px;
  /* color: #3a4142; */
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: normal;
  background: #fff;
  /* float: left; */
  text-align: justify;
  border: none;
  width: 100%;
}
.dropdown-content {
  display: none; 
    position: relative;
    /* background-color: #f9f9f9; */
    line-height: 40px;
    min-width: 160px;
    font-family: 'Open Sans';
    z-index: 1;
}

.dropdown-content a {
  padding: 7px 14px;
    text-decoration: none;
    /* display: inline-flex; */
    margin-bottom: 2%;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans';
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-weight: 600;
    width: 50%;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 50px;
    color: #848484;
}

.dropdown-content a:hover {
  color: #848484;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
  
}
